*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f9f9f9;
    height: 100vh;
    font-family: system-ui;
    overflow: hidden;

}
a{
    text-decoration: none;
    color: #359381;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}
header.logo{
    font-size: 2em;
    text-transform: uppercase;
    margin-right: 270px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
header ul li{
    margin-right: 30px;
}
header ul li a{
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
    
    
}
header ul li a:hover, .active{
    background: #359381;
    color: #f9f9f9;
}
.main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text{
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}
.main img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    height: 100vh;
}
.content{
    color: black;
    padding: 30px;
}
.content h2{
    margin: 20px;
    font-size: 30px;
}
.main P{
    margin: 20px;
}
